customer_name           = "customer1"
cluster_id              = "999X888099"
cluster_name            = "custALCluster03"
alert_email             = "alert@myalertemail.com"
release                 = "6.1.1-2"
subnet_id               = "subnet-74273635373y36922e"
vpc_id                  = "vpc-81b693673533865425f8"
ami                     = "ami-0d6621c01e826353333c2de2c"
vpc_security_group_ids  = ["sg-8898e7543c99f7","sg-ec833697g3f293"]
no_of_instance          = 10
instance_type           = "r4.xlarge"
instance_profile        = "instanceprofilename"
root_vol_size           = "100"
export_vol_size         = "200"
data_vol_size           = "1024"
ssm_document_name       = "SSM-SessionManagerRunShell-9"
s3_bucket_name          = "ts-bucket"
user_data               = "./scripts/user_data.sh"
